body{
  margin: 0px;
  overflow-x: hidden;
  color: black;
}
*{
  margin: 0%;
  font-family: 'Work Sans', sans-serif;
}
.firstDesignDiv{
  height: 1200px;
  width: 1200px;
  background-color: #4CAF50;
  position: absolute;
  border-top-left-radius: 750px;
  left: 50%;
  top: 110px;
  opacity: 0.3;

}
.firstDesignDiv2{
  left: -60%;
  top: -90%;
  background-color: #EE6983;
}

/* //////////////////////////////////////////////////////////////////////navbar////////////////////////////////////////////////// */
.navbar {
  background-color: #f4f6f8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 100px;
}


.navelements {
  font-family: sans-serif;
  padding-left: 2rem;
  padding-right: 3rem;
  z-index: 10;
}
.navelementsStyle{
  text-decoration: none;
  font-weight: 500;
  font-size: 1.3rem;
  color: black;
}

.navelements:hover {
  font-weight: 900;
}
.introductionName{
  font-size: 40px;
}
.introductionGreet{
  font-weight: 100;
}





/* ////////////////////////////////////////////////////////////////////////heading page//////////////////////////////////////////////// */

.headingPage{
  background-color: #f4f6f8;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15%;
  justify-content: center;
  margin-left: -75px;
  height: 90vh;
}
.imgmm{
  height: 550px;
  width: 550px;
}
.introduction{
  margin-top: -70px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  /* z-index: 10; */
}
.socialMediaIcons{
  height: 1.8rem;
  width: 1.8rem;
  opacity: 0.7;
  transition: 0.3s;
  position: relative;
  z-index: 300;
}
.socialMediaIcons:hover{
  opacity: 1;
  transform: scale(1.4);
}
.socialicon{
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-left: -10px;
}
.button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
}
.introductionButton{
  margin-top: 30px;
  position: absolute;
}
.button:hover{
  background-color: #f4f6f8;
  color: black;
  border:  solid #4CAF50;
  box-shadow: -5px -5px #4CAF50;
}









/* ////////////////////////////////////////////////////////////////////////////////////////about me//////////////////////////////////////// */

.about {
  text-align: center;
  background-color:black ;
  color: white;
  height: 100vh;
  position: relative;
  z-index: 10;
}

.photoCard{
  position: relative;
  left: 15%;
  top: 1.5rem;
  height: 35rem;
  width: 55rem;
  background-image: url("/images/codtwo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.aboutCardimage{
  position: relative;
  left: 4%;
  bottom: 26rem;
  height: 50%;
  width:50%;
  border-radius: 12px;
  box-shadow: -5px -5px 100px black;
  transition: transform 0.3s;
}


.aboutCardimage:hover{
  transform: scale(1.1);
}
.headingID{
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 0.05cm;
  padding-top: 40px;
  font-size: 50px;
  color: #f4f6f8;
}






/* ///////////////////////////////////////////////////////////////////////skills/////////////////////////////////////// */

.skill{
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  text-align: center;
  position: relative;
  z-index: 200;
}
.skillImages{
  height: 80px;
  width: 80px;
  transition: 0.3s;
}
.skillImages:hover{
  transform: scale(1.4);
  filter: invert();
}

.skillsGrid{
  margin-top: 5%;
  display: grid;
  grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr ;
  grid-template-rows: 0.1fr 0.1fr;
  align-items: center;
  justify-content: center;
  column-gap: 150px;
  row-gap: 150px;
  padding-bottom: 150px;
}
.dic{
  transition: 0.3s;
}
a{
  text-decoration: none;
  color: white;
}
.skillImagesName{
  padding-top: 30px;
}






/* ///////////////////////////////////////////////projects////////////////////////////////////////// */





.projects{
}














/* ////////////////////////////////////////////////////contactaME///////////////////////////////////////////////// */
.contactme{
  position: relative;
  padding-top: 10px;
  color:black;
  background-color: #f4f6f8;
  height: 70vh;
  width: 100vw;
}
.headingIDW{
  color: black;
  padding-bottom: 50px;
}
.contactCardImages{
  height: 1.8rem;
  width: 1.8rem;
}
.contactElements{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 30px;
  font-size: 20px;
  font-weight: 800;
  z-index: 200;
  background-color: transparent;
}
.emailInput{
  width: 300px;
  height: 50px;
  background-color: #f4f6f8;
  border: solid #4CAF50;
}




/* ///////////////////////////footer/////////////// */

.footer{
  padding-top: 20px;
  color: black;
  height: 100px;
  background-color: #f4f6f8;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 30vh;
  width: 100vw;
}
.f1{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.social{
  display: flex;
  justify-content: center;
  gap: 60px;
  background-color: #f4f6f8;
}
.sendButton{
  position: relative;
}
.endDesignDiv{
  height: 1000px;
  width: 1000px;
  position:absolute;
  border-radius: 1500px;
  opacity: 0.3;
  z-index: 100;
}
.endDesignDiv1{
  background-color: #EE6983;
  right: -350px;
  top: 400px;
}
.endDesignDiv2{
  background-color: #4CAF50;
  right: 1200px;
  bottom: 200px;
}

.lastPage{
  overflow: hidden;
}
